# Arquivos e pastas do Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Arquivos do banco de dados
db.sqlite3

# Arquivos de migrações automáticas (opcional)
*/migrations/*
!*/migrations/__init__.py

# Arquivos temporários do sistema operacional
Thumbs.db

# Arquivos de build ou logs
*.log
staticfiles/
media/

# Arquivos de IDE ou editores
.vscode/
.idea/